body.home {

	section#announcement {
		padding: 20px 0;
		background: $red;
		color: $white;
		text-align: center;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);

		.wrapper {
			max-width: 960px;
		}

		p {
			font-family: $open-sans;
			font-size: 0.875em;
			line-height: 1.5em;
		}

		a {
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	section#info {
		padding: 50px 0;

		.wrapper {

		}

	}

	section#top {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 25px 0;
		color: $white;


		p > a {
			color: $white;
		}

		@include tablet-portrait {
			padding: 50px 0 0 0;
		}

		& > div {
			width: 100%;
			text-align: center;
			padding: 0 0 100px 0;

			@include tablet-portrait {
				width: 33.3333%;
				padding: 40px 25px;
			}


		}

		@include tablet-portrait {
			#hours, #location {
				border-right: 2px solid $white;
			}
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 0.1em;
			padding: 0 0 50px 0;
			font-size: 1.5em;
			font-family: $sabon-bold;
			text-transform: lowercase;
			text-shadow: 0px 2px rgba(0, 0, 0, 0.3);

			@include tablet-landscape {
				font-size: 2em;
			}
		}

		p {
			font-size: 1.25em;
			line-height: 1.625em;
			text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
			font-family: $sabon-bold;
			text-transform: lowercase;
			letter-spacing: 0.05em;

			@include tablet-portrait {
				font-size: 1em;
			}

			@include tablet-landscape {
				font-size: 1.25em;
			}

			& + p {
				padding: 30px 0 0 0;
			}
		}

		.cta {
			width: 100%;
			max-width: 360px;

			@include tablet-portrait {
				max-width: 240px;
			}

			a {
				display: block;
			}
		}

		h6 {
			font-size: 1em;
			line-height: 1.25em;
			font-style: italic;
			padding: 30px 0 0 0;

			@include tablet-portrait {
				font-size: 0.875em;
			}

			@include desktop {
				font-size: 1em;
			}
		}

		.reservations {
			padding: 20px 0 0 0;

			#sr-res-root {
				text-transform: lowercase !important;
				letter-spacing: 0.05em !important;
				padding: 14px 20px 12px 20px !important;
				display: inline-block !important;
				border-radius: 4px !important;
				background: $white !important;
				color: $slate !important;
				transition: all 0.3s ease-in-out;
				width: 188px !important;
				height: 42px !important;
				border: 1px solid rgba(255, 255, 255, 1) !important;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

				i {
					float: none !important;
					display: inline-block !important;
					margin: 0 7px 0 0 !important;
					transform: translateY(-3px);
				}

				span {
					font-family: $sabon-bold !important;
					font-size: 16px !important;
					margin-right: 0 !important;
					line-height:  15px !important;
					max-width: 115px !important;
					
					@include tablet-portrait {
						font-size: 13px !important;
					}

					@include tablet-landscape {
						font-size: 16px !important;
					}
				}

				&:hover {
					background: $red !important;
					color: $white !important;
					border: 1px solid $red !important;
				}
			}			
		}



		#menu {
			.menu-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			.cta {
				padding: 0 10px 20px 10px;
			}

			em {
				font-size: 1.125em;
			}
		}

	}

	section#bottom {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-top: 2px solid $white;
		color: $white;


		a {
			color: $white;
		}

		& > div {
			width: 100%;
			text-align: center;
			padding: 40px 25px;
			

			@include tablet-portrait {
				width: 33.3333%;
				padding: 25px;
			}
		}



		#hrg {
			align-self: center;

			a {
				text-transform: uppercase;
				font-family: $futura;
				letter-spacing: 0.1em;
				font-weight: bold;
				font-size: 1em;
				text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
			}
		}

		#note {
			align-self: center;

			p {
				font-family: $sabon-italic;
				font-weight: bold;
				font-size: 1.25em;
				text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
				letter-spacing: 0.05em;


				a:hover {
					text-decoration: underline;
				}
			}
		}

		#social {
			.links {
				display: flex;
				justify-content: center;

				a {
					margin: 0 15px;

					img {
						width: 100%;
						max-width: 20px;
						max-height: 20px;
					}

					&.twitter {
						transform: translateY(2px);
					}
				}
			}
		}
	}


}