html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $sabon-roman;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $futura;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

a.btn {
	font-family: $sabon-bold;
	text-transform: lowercase;
	letter-spacing: 0.05em;
	padding: 16px 20px 12px 20px;
	background: $white;
	border: 1px solid rgba(255, 255, 255, 0.4);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: $slate;
	display: inline-block;
	font-size: 1em;

	@include tablet-portrait {
		font-size: 0.8125em;
	}

	@include tablet-landscape {
		font-size: 1em;
	}

	&:hover {
		background: $red;
		color: $white;
		border: 1px solid $red;
	}
}